.here
.snakemake
analysis/
old/
orig/
mus-t-haplotype.code-workspace
slurm-logs/

scripts/.snakemake/
scripts/slurm_logs/
scripts/lib/__pycache__/
scripts/phast_scripts/

docs/scripts/lib/__pycache__/
